@{ ViewData["Title"] = "Home Page"; }
<h3 class="text-capitalize">FileResult Action in core mvc</h3>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.worker.js"></script>

<script src="~/js/easyPDF.js"></script>
<title>jQuery Easy-PDF: Base64 PDF Viewer Demo</title>
<style>
    body, * {
        font-family: 'Roboto';
    }
</style>

<h1>jQuery Easy-PDF: Base64 PDF Viewer Demo</h1>
<div>
    <ejs-calendar id="calendar"></ejs-calendar>
    <ejs-pdfviewer id="container" style="height:600px" serviceUrl="/api/PdfViewer"></ejs-pdfviewer>
</div>


